@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body{
    background-color: black;
    margin: 0;
    padding: 0;

}

header{
    background-image: url(../img/background-tl.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat; 
    height: 100%; 
    width: auto;
    
}



.cabeçalho{
    display: flex;
    flex-direction: row;
    top: 0;
    background-color: black;
    width: 100%; 
    height: 10%;
    
}

.menu1, .menu2, .menu3{
    padding: 5px;
    margin: 10px;
    color: white;
    font-size:large;
}

.menu1 > a, .menu2 >a, .menu3 > a{

    text-decoration: none;
    color: white;

}


.logo{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 70px 100px;
    padding: 15px;
}

.video-container{
    display: flex;
    justify-content: right;
    align-items: center;
    margin: 10px 100px;
    padding: 15px;
   
}

.sinopse{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
}



.sinopse-detalhada{
    color: white;
    font-size:x-large;
    padding: 20px;
    text-align: justify; 
    height: 100%;
    width: auto;
    margin: auto;
}


.elenco{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
}

.personagens{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    padding: 20px;  
}

.personagem1, .personagem2, .personagem3, .personagem4, .personagem5{
    padding: auto;
    margin: 10px;
    border: white solid 2px ;
}

.personagem1:hover{
    content: url(../img/p1.webp);
    border: blue solid 2px;
}

.personagem2:hover{
    content: url(../img/p2.webp);
    border: blue solid 2px;
}

.personagem3:hover{
    content: url(../img/p3.jpg);
    border: blue solid 2px;
}

.personagem4:hover{
    content: url(../img/p4.webp);
    border: blue solid 2px;
}
.personagem5:hover{
    content: url(../img/p5.webp);
    border: blue solid 2px;
}

figcaption{
    color: white;
    padding: 3px;
    align-items: center;
    text-align: center;
    
}

.assistaoujogue{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
}

.streamings{
    display: flex;
    flex-direction: row;
   justify-content: center;
   padding: 20px;
  
}

.footer{
    font-size: medium;
    color: white;
    border-top: 2px solid white;
    text-align: right;
}



@media (max-width: 768px) {
    .cabeçalho {
        flex-direction: column;
        align-items: center;
    }

   

    iframe {
        display: flex;
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
        
    
    }

    .logo{
        display:flex;
        align-items: center;
        content: url(../img/logo-tl\ -\ 2.png);
        margin: auto;
        max-width: 60%;
    }

    .divlogo{
        display:flex;
        align-items: center;
    }

    .sinopse-detalhada{
        text-align: center;
        margin: 10%;
        font-size: 20px;

    }

    .personagens{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer{
        text-align: center;
        font-size: small;
    }
}
